workflow.json
{
  "name": "Daily Summary Workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "resource": "event",
        "options": {}
      },
      "name": "GoogleCalendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "googleCalendarOAuth2Api",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "resource": "message",
        "options": {}
      },
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        450,
        500
      ],
      "credentials": {
        "gmailOAuth2Api": {
          "id": "gmailOAuth2Api",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "summarize",
        "text": "={{ $node[\"GoogleCalendar\"].json[\"summary\"] }} {{ $node[\"Gmail\"].json[\"snippet\"] }}"
      },
      "name": "Summarize",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [
        650,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "openAiApi",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {},
      "name": "End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        850,
        400
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "GoogleCalendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoogleCalendar": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}