workflow.json
{
  "name": "Daily Todo Automation",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "resource": "event",
        "options": {
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "name": "GoogleCalendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        460,
        200
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "googleCalendarOAuth2Api",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "resource": "message",
        "limit": 15,
        "options": {
          "q": "is:unread category:primary"
        }
      },
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        460,
        400
      ],
      "credentials": {
        "gmailOAuth2Api": {
          "id": "gmailOAuth2Api",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "prompt": "=Voici mes données pour aujourd'hui. Fais-moi un résumé concis des priorités, des réunions à ne pas rater et des emails urgents sous forme de liste à puces.\n\n📅 CALENDRIER :\n{{ $items(\"GoogleCalendar\").map(i => i.json.summary + \" (\" + i.json.start.dateTime + \")\").join(\"\\n\") }}\n\n📧 EMAILS NON LUS :\n{{ $items(\"Gmail\").map(i => \"- \" + i.json.snippet).join(\"\\n\") }}",
        "maxTokens": 500
      },
      "name": "Summarize",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [
        880,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openAiApi",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {},
      "name": "End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "GoogleCalendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoogleCalendar": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}